    <% if !!@message %>
        <p class="danger"><%=@message%></p>
        <% end %>
<h3>Edit Character</h3>
    <form action="/characters/<%=@char.id%>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <input type="text" name="char_name" value="<%= @char.char_name%>">
         Choose your character's race: <br>
        Avian <input type='radio' name='race' value='Avian' <%= "checked" if @char.race="Avian"%>><br>
        Human <input type='radio' name='race' value='Human' <%= "checked" if @char.race="Human"%>><br>
        Grognard <input type='radio' name='race' value='Grognard' <%= "checked" if @char.race="Grognard"%>><br>
        Goblin <input type='radio' name='race' value='Goblin' <%= "checked" if @char.race="Goblin"%>><br>
        Elf <input type='radio' name='race' value='Elf' <%= "checked" if @char.race="Elf"%>><br>
        Dwarf <input type='radio' name='race' value='Dwarf' <%= "checked" if @char.race="Dwarf"%>><br><br>
    Choose your character's class: <br>
        Warrior <input type='radio' name='char_class' value='Warrior' <%= "checked" if @char.char_class="Warrior"%>><br>
        Healer <input type='radio' name='char_class' value='Healer' <%= "checked" if @char.char_class="Healer"%>><br>
        Sorceror <input type='radio' name='char_class' value='Sorceror' <%= "checked" if @char.char_class="Sorceror"%>><br>
        Thief <input type='radio' name='char_class' value='Thief' <%= "checked" if @char.char_class="Thief"%>><br>
        Bard <input type='radio' name='char_class' value="Bard" <%= "checked" if @char.char_class="Bard"%>><br><br>
        <input type="submit" value="Update">
    </form>
    <form action="/characters/<%= @char.id%>" method="POST">
        This will delete your character and all of their stats.
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<% @char.id%>">
        <input type="submit" value="Delete Character">
    </form>
    <a href="/characters">
    <% if @char && @char.errors.any?%>
        <% @char.errors.full_messages.each do |e|%>
        <p class="danger"><%= e %></p>
    <% end %>
<% end %>