<%# render partial for character name, race, class here %>
    <% if !!@message %>
        <p class="danger"><%=@message%></p>
        <% end %>
<h2> Update your character stats here</h2>
<form action='/stats' method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
Might: <input type="number" name='might' id='might' step='1' min='3' max='18' value="<%=@stats.might%>">

<br><br>Agility: <input type="number" name='agility' id='guile' step='1' min='3' max='18' value="<%=@stats.agility%>"> 
    
<br><br>Endurance: <input type="number" name='endurance' id='endurance' step='1' min='3' max='18' value="<%=@stats.endurance%>" >

<br><br>Guile: <input type="number" name='guile' id='guile' step='1' min='3' max='18' value="<%=@stats.guile%>"> 

<br><br>Wit: <input type="number" name='wit' id='wit' step='1' min='3' max='18' value="<%=@stats.wit%>"> 
<br><br>
Hit Points: <input type='number' name='hit_points' id='hit_points' step='1' min='1' value="<%=@stats.hit_points%>"><br><br>
Spells per day (based on your Wit or Guile Stat):<input type='number' name='per_day' id='per_day' step='1' min='0' value="<%=@stats.per_day%>">
<br>Class and Racial Features: 
<textarea name='features' id='features'><%=@stats.features%></textarea>
<br>Character Background & Bio: <textarea name='bio' id='bio'><%=@stats.bio%></textarea><br>
<input type="submit" value="Update"><br>
</form>
<br>
<form action="/stats/<%=@stats.id%>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<% @stats.id%>">
        <input type="submit" value="Delete Character">
        This will delete your character and all of their stats.
    </form>
