<form>
    <button formaction="/stats/<%=@stats.id%>/edit">Click here to edit this Stat Block</button>
</form>
<form>
    <button formaction="/characters/<%=@char.id%>/edit">Click here to edit your Character</button>
</form>
<div id='stat-block'>
    <div id='name-race-class'>
        <ul>
           <li><b><%= @char.char_name%></b></li>
            <li>Race: <%= @char.race%></li>
            <li>Class: <%= @char.char_class%></li>
        </ul>
    </div>
    <div id='stat-scores'>
        <ul>
            Might: <%=@stats.might%>
            Agility: <%=@stats.agility%>
            Endurance: <%=@stats.endurance%>
            Guile: <%=@stats.guile%>
            Wit: <%=@stats.wit%>
        </ul>
    </div>    
    <div id='stat-trackers'>
        Hit Points: <%=@stats.hit_points%>
        Spells Per Day: <%@stats.per_day.times do |p|%>
            <input type="checkbox" name="spell_slot" id="spell_slot">
            <% end %>
    <div id='feature-bio'>    
        Features: <%=@stats.features%>
        Bio: <%=@stats.bio%>
    </div>
</div>
<a href="/characters">Back to characters</a>