<%# displays the selected characters stats %>
Name: <%=@character.char_name%><br>
Class: <%=@character.char_class%><br>
Race: <%=@character.race%><br>
<br>
Might: <%=@stats.might%><br>
Agility: <%=@stats.agility%><br>
Endurance: <%=@stats.endurance%><br>
Guile: <%=@stats.guile%><br>
Wit: <%=@stats.wit%><br>
<br>
Features: <%=@stats.features%><br>
Bio: <%=@stats.bio%><br><br>
<a href='/characters/:id/edit'>Click here to edit this character</a><br>
<a href='/characters/:id'>Back to characters</a><br>

